.contact {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 32px;
}
.contact-container {
  width: 80%;
  display: flex;
}
.container-form {
  width: 50%;
}
.container-form form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-form form input[type="text"],
input[type="email"],
textarea {
  all: unset;
  background-color: #364153;
  border: 1px solid #cac9c948;
  border-radius: 5px;
  color: #f5f4f4c9;
  padding: 10px;
}
.container-form form label {
  font-size: 1.4rem;
  color: var(--body_color);
}
.input-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-submit-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-submit {
  height: 40px;
  border: none;
  background-color: var(--text_destaque);
  color: white;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.btn-submit:hover {
  background-color: rgb(93, 163, 221);
}
.social-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  gap: 10px;
}
.social-container .contact-icons {
  display: flex;
  flex-direction: column;
}
.social-container h3 {
  color: var(--text_destaque);
  font-size: 1.8rem;
  font-weight: bold;
}
.social-container p {
  font-weight: 600;
  color: var(--body_color);
  font-size: 1.3rem;
}
.social-media img {
  margin: 10px 0px;
  transition-duration: 0.3s;
}
.social-media img:hover {
  scale: 1.4;
}
.social-icons {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1080px) {
  .contact-container {
    flex-direction: column;
    gap: 30px;
  }
  .container-form {
    width: 100%;
  }
  .social-container {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
