.container-card-project {
  border: 1px solid #2a3343;
  border-radius: 14px;

  overflow: hidden;
  background-color: #2a3343;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  border-bottom: 1px solid #cac9c948;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg_projects);
}

.card-img img {
  height: 270px;
}

.content-project {
  background-color: #2a3343;
  max-width: 100%;
  margin: 12px;
}

.tittle-project {
  text-decoration: underline;
}

.text-project {
  margin-top: 12px;
  color: rgb(216, 216, 216);
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 30px;
  margin-top: 20px;
}

.link-project {
  background-color: var(--text_destaque);
  text-align: center;
  padding: 6px;
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;

}

.link-project:hover {
  background-color: rgb(93, 163, 221);
}

@media (max-width: 950px) {
  .container-card-project {
    width: 330px;
  }
}
